NODE_ENV=development
PORT=3000
DATABASE_URL=mongodb://127.0.0.1:27017/thesis-ecommerce

CLIENT_URL=http://localhost:5173
CORS_ORIGIN=http://localhost:5173
CORS_METHODS=GET,POST,PUT,DELETE
CORS_ALLOWED_HEADERS=Content-Type,Authorization

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d

RESEND_API_KEY=re_8MWx79h9_HxGKFuf7iYnkzNsUDcgucFtQ

R2_ACCESS_KEY_ID="d014e0808d4114771b02d132b30f52eb"
R2_SECRET_ACCESS_KEY="819d35535cb7660782bf325efd0f2335b8a217a26e7fb45f70fd2320969"
R2_ENDPOINT="https://18601798f92e2f6519c2dd2f85457335.r2.cloudflarestorage.com"
R2_BUCKET_NAME="pos-sytem"
R2_REGION="auto"
R2_PUBLIC_URL="https://pub-d445d19503e04e76808fb633c881eb98.r2.dev"

TELEGRAM_BOT_TOKEN="tot_token"
TELEGRAM_BOT_USER="bot_name"

BAKONG_BASE_API_URL=https://sit-api-bakong.nbc.gov.kh/v1
BAKONG_ACCOUNT_USERNAME=kanha_chhouy@aclb
BAKONG_MERCHANT_STORE_LABEL=Testing Store #Optional
BAKONG_MERCHANT_NAME=kanha Chhouy #Optional
BAKONG_MERCHANT_CITY=Phnom Penh #Optional
BAKONG_ACCESS_TOKEN=
 